fast-complex:
  stage: test
  tags:
    - docker
  except:
    - master
    - schedules
  image:
    name: dolfinx/dolfinx
    entrypoint: [""]
  variables:
    PETSC_ARCH: "linux-gnu-complex-32"
    PYTHONPATH: "/usr/local/dolfinx-complex/lib/python3.8/dist-packages:/usr/local/lib"

  before_script:
    - flake8 .
    - export PETSC_ARCH="linux-gnu-complex-32"
    - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-complex-32/lib/:/usr/local/dolfinx-complex/lib/:/usr/lib/x86_64-linux-gnu/hdf5/mpich/:$LD_LIBRARY_PATH"
    - export PATH="/usr/local/dolfinx-complex/bin:$PATH"
    - export PKG_CONFIG_PATH="/usr/local/dolfinx-complex/lib/pkgconfig:$PKG_CONFIG_PATH"
    - mkdir -p build
    - cd build
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
    - ninja -j3 install
    - cd ../python
    - pip3 install -e . --upgrade

  script:
    - cd tests
    - python3 -m pytest .
    - mpirun -n 2 python3 -m pytest .
    - mpirun -n 3 python3 -m pytest .
    - mpirun -n 4 python3 -m pytest .

fast-real:
  stage: test
  tags:
    - docker
  except:
    - master
    - schedules
  image:
    name: dolfinx/dolfinx
    entrypoint: [""]
  variables:
    PETSC_ARCH: "linux-gnu-real-32"
    PYTHONPATH: "/usr/local/dolfinx-real/lib/python3.8/dist-packages:/usr/local/lib"
  before_script:
    - flake8 .
    - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-real-32/lib/:/usr/local/dolfinx-real/lib/:/usr/lib/x86_64-linux-gnu/hdf5/mpich/:$LD_LIBRARY_PATH"
    - export PATH="/usr/local/dolfinx-real/bin:$PATH"
    - export PKG_CONFIG_PATH="/usr/local/dolfinx-real/lib/pkgconfig:$PKG_CONFIG_PATH"
    - mkdir -p build
    - cd build
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
    - ninja -j3 install
    - cd ../python
    - pip3 install -e . --upgrade

  script:
    - cd tests
    - python3 -m pytest .
    - mpirun -n 2 python3 -m pytest .
    - mpirun -n 3 python3 -m pytest .
    - mpirun -n 4 python3 -m pytest .

nightly-complex:
  stage: test
  only:
    - schedules
    - master
    - merge_requests
  tags:
    - docker
  image:
    name: dolfinx/dev-env
    entrypoint: [""]
  variables:
    PETSC_DIR: "/usr/local/petsc"
    PETSC_ARCH: "linux-gnu-complex-32"
  before_script:
    - flake8 .
    - export PETSC_ARCH="linux-gnu-complex-32"
    - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-complex-32/lib/:/usr/lib/x86_64-linux-gnu/hdf5/mpich/:$LD_LIBRARY_PATH"
    - export HDF5_MPI="ON"
    - export CC=mpicc
    - export HDF5_DIR="/usr/lib/x86_64-linux-gnu/hdf5/mpich/"
    - pip3 install --no-cache-dir --no-binary=h5py h5py
    - git clone https://github.com/FEniCS/basix.git
    - cd basix
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build-dir -S .
    - cmake --build build-dir --parallel 3
    - cmake --install build-dir
    - pip3 install ./python
    - cd ..
    - pip3 install git+https://github.com/FEniCS/ufl.git --upgrade
    - pip3 install git+https://github.com/FEniCS/ffcx.git --upgrade
    - rm -rf /usr/local/include/dolfin /usr/local/include/dolfin.h
    - git clone https://github.com/fenics/dolfinx.git
    - cd dolfinx
    - mkdir build
    - cd build
    - cmake -G Ninja ../cpp
    - ninja ${MAKEFLAGS} install
    - cd ../python
    - source /usr/local/lib/dolfinx/dolfinx.conf
    - pip3 install .
    - cd ../../
    - mkdir -p build
    - cd build
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
    - ninja -j3 install
    - cd ../python
    - pip3 install -e . --upgrade

  script:
    - cd tests
    - python3 -m pytest .
    - mpirun -n 2 python3 -m pytest .
    - mpirun -n 3 python3 -m pytest .
    - mpirun -n 4 python3 -m pytest .
    - cd ../benchmarks
    - mkdir results
    - mkdir meshes
    - mpirun -n 4 python3 bench_periodic.py --nref=2 --tet --gamg --timings
    - mpirun -n 4 python3 bench_elasticity_edge.py --nref=2 --gamg --timings
    - mpirun -n 4 python3 bench_contact_3D.py
    - cd ../demos
    - mkdir meshes
    - mkdir results
    - python3 demo_elasticity.py
    - mpirun -n 4 python3 demo_elasticity.py
    - python3 demo_periodic.py
    - mpirun -n 4 python3 demo_periodic.py
    - python3 demo_stokes.py
    - mpirun -n 4 python3 demo_stokes.py
    - python3 demo_periodic3d.py
    - mpirun -n 4 python3 demo_periodic3d.py
    - python3 demo_elasticity_disconnect_2D.py
    - mpirun -n 4 python3 demo_elasticity_disconnect_2D.py
    - python3 demo_elasticity_disconnect.py
    - mpirun -n 4 python3 demo_elasticity_disconnect.py
    - make contact2D-serial
    - make contact2D-parallel
    - make contact3D-serial
    - make contact3D-parallel

nightly-real:
  stage: test
  only:
    - schedules
    - master
    - merge_requests
  tags:
    - docker
  image:
    name: dolfinx/dev-env
    entrypoint: [""]
  variables:
    PETSC_DIR: "/usr/local/petsc"
    PETSC_ARCH: "linux-gnu-real-32"
  before_script:
    - flake8 .
    - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-real-32/lib/:/usr/lib/x86_64-linux-gnu/hdf5/mpich/:$LD_LIBRARY_PATH"
    - export HDF5_MPI="ON"
    - export CC=mpicc
    - export HDF5_DIR="/usr/lib/x86_64-linux-gnu/hdf5/mpich/"
    - pip3 install --no-cache-dir --no-binary=h5py h5py
    - git clone https://github.com/FEniCS/basix.git
    - cd basix
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build-dir -S .
    - cmake --build build-dir --parallel 3
    - cmake --install build-dir
    - pip3 install ./python
    - cd ..
    - pip3 install git+https://github.com/FEniCS/ufl.git --upgrade
    - pip3 install git+https://github.com/FEniCS/ffcx.git --upgrade
    - rm -rf /usr/local/include/dolfin /usr/local/include/dolfin.h
    - git clone https://github.com/fenics/dolfinx.git
    - cd dolfinx
    - mkdir build
    - cd build
    - cmake -G Ninja ../cpp
    - ninja ${MAKEFLAGS} install
    - cd ../python
    - source /usr/local/lib/dolfinx/dolfinx.conf
    - pip3 install .
    - cd ../../
    - mkdir -p build
    - cd build
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
    - ninja -j3 install
    - cd ../python
    - pip3 install -e . --upgrade

  script:
    - cd tests
    - python3 -m pytest .
    - mpirun -n 2 python3 -m pytest .
    - mpirun -n 3 python3 -m pytest .
    - mpirun -n 4 python3 -m pytest .
    - cd ../benchmarks
    - mkdir results
    - mkdir meshes
    - mpirun -n 4 python3 bench_periodic.py --nref=2 --tet --boomeramg --timings
    - mpirun -n 4 python3 bench_elasticity_edge.py --nref=2 --gamg --timings
    - mpirun -n 4 python3 bench_contact_3D.py
    - cd ../demos
    - mkdir meshes
    - mkdir results
    - python3 demo_elasticity.py
    - mpirun -n 4 python3 demo_elasticity.py
    - python3 demo_periodic.py
    - mpirun -n 4 python3 demo_periodic.py
    - python3 demo_stokes.py
    - mpirun -n 4 python3 demo_stokes.py
    - python3 demo_periodic3d.py
    - mpirun -n 4 python3 demo_periodic3d.py
    - python3 demo_elasticity_disconnect_2D.py
    - mpirun -n 4 python3 demo_elasticity_disconnect_2D.py
    - python3 demo_elasticity_disconnect.py
    - mpirun -n 4 python3 demo_elasticity_disconnect.py
    - make contact2D-serial
    - make contact2D-parallel
    - make contact3D-serial
    - make contact3D-parallel
