# fast-complex:
#   stage: test
#   tags:
#     - docker
#   except:
#     - master
#     - schedules
#   image:
#     name: dolfinx/dolfinx
#     entrypoint: [""]
#   variables:
#     PETSC_ARCH: "linux-gnu-complex-32"
#     PYTHONPATH: "/usr/local/dolfinx-complex/lib/python3.8/dist-packages:/usr/local/gmsh-4.6.0-Linux64-sdk/lib"
#   before_script:
#     - flake8 .
#     - export PETSC_ARCH="linux-gnu-complex-32"
#     - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-complex-32/lib/:/usr/local/dolfinx-complex/lib/:$LD_LIBRARY_PATH"
#     - export PATH="/usr/local/dolfinx-complex/bin:$PATH"
#     - export PKG_CONFIG_PATH="/usr/local/dolfinx-complex/lib/pkgconfig:$PKG_CONFIG_PATH"
#     - mkdir -p build
#     - cd build
#     - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
#     - ninja -j3 install
#     - cd ../python
#     - pip3 install -e . --upgrade

#   script:
#     - cd tests
#     - python3 -m pytest .
#     - mpirun -n 2 python3 -m pytest .
#     - mpirun -n 3 python3 -m pytest .
#     - mpirun -n 4 python3 -m pytest .


# fast-real:
#   stage: test
#   tags:
#     - docker
#   except:
#     - master
#     - schedules
#   image:
#     name: dolfinx/dolfinx
#     entrypoint: [""]
#   variables:
#     PETSC_ARCH: "linux-gnu-real-32"
#     PYTHONPATH: "/usr/local/dolfinx-real/lib/python3.8/dist-packages:/usr/local/gmsh-4.6.0-Linux64-sdk/lib"
#   before_script:
#     - flake8 .
#     - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-real-32/lib/:/usr/local/dolfinx-real/lib/:$LD_LIBRARY_PATH"
#     - export PATH="/usr/local/dolfinx-real/bin:$PATH"
#     - export PKG_CONFIG_PATH="/usr/local/dolfinx-real/lib/pkgconfig:$PKG_CONFIG_PATH"
#     - mkdir -p build
#     - cd build
#     - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
#     - ninja -j3 install
#     - cd ../python
#     - pip3 install -e . --upgrade

#   script:
#     - cd tests
#     - python3 -m pytest .
#     - mpirun -n 2 python3 -m pytest .
#     - mpirun -n 3 python3 -m pytest .
#     - mpirun -n 4 python3 -m pytest .


nightly-complex:
  stage: test
  only:
    - schedules
    - master
    - merge_requests
  tags:
    - docker
  image:
    name: dolfinx/dev-env
    entrypoint: [""]
  variables:
    PETSC_DIR: "/usr/local/petsc"
    PETSC_ARCH: "linux-gnu-complex-32"
  before_script:
    - flake8 .
    - export PETSC_ARCH="linux-gnu-complex-32"
    - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-complex-32/lib/:$LD_LIBRARY_PATH"
    - export HDF5_MPI="ON"
    - export CC=mpicc
    - pip3 install --no-cache-dir --no-binary=h5py h5py
    - pip3 install git+https://github.com/FEniCS/fiat.git --upgrade
    - pip3 install git+https://github.com/FEniCS/ufl.git --upgrade
    - pip3 install git+https://github.com/FEniCS/ffcx.git --upgrade
    - rm -rf /usr/local/include/dolfin /usr/local/include/dolfin.h
    - git clone https://github.com/fenics/dolfinx.git
    - cd dolfinx
    - mkdir build
    - cd build
    - cmake -G Ninja ../cpp
    - ninja ${MAKEFLAGS} install
    - cd ../python
    - source /usr/local/share/dolfinx/dolfinx.conf
    - pip3 install .
    - cd ../../
    - mkdir -p build
    - cd build
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
    - ninja -j3 install
    - cd ../python
    - pip3 install -e . --upgrade

  script:
    - cd tests
    - python3 -m pytest .
    - mpirun -n 2 python3 -m pytest .
    - mpirun -n 3 python3 -m pytest .
    - mpirun -n 4 python3 -m pytest .
    - cd ../benchmarks
    - mkdir results
    - mpirun -n 4 python3 bench_periodic.py --nref=2 --tet --gamg --timings
    - mpirun -n 4 python3 bench_elasticity_edge.py --nref=2 --gamg --timings
    - cd ../demos
    - mkdir meshes
    - mkdir results
    - python3 demo_elasticity.py
    - mpirun -n 4 python3 demo_elasticity.py
    - python3 demo_periodic.py
    - mpirun -n 4 python3 demo_periodic.py
    - python3 demo_stokes.py
    - mpirun -n 4 python3 demo_stokes.py
    - python3 demo_periodic3d.py
    - mpirun -n 4 python3 demo_periodic3d.py
    - python3 demo_contact_2D.py --timing
    - mpirun -n 4 python3 demo_contact_2D.py --timing
    - python3 demo_contact_3D.py --timing
    - mpirun -n 4 python3 demo_contact_3D.py --timing


nightly-real:
  stage: test
  only:
    - schedules
    - master
    - merge_requests
  tags:
    - docker
  image:
    name: dolfinx/dev-env
    entrypoint: [""]
  variables:
    PETSC_DIR: "/usr/local/petsc"
    PETSC_ARCH: "linux-gnu-real-32"
  before_script:
    - flake8 .
    - export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-real-32/lib/:$LD_LIBRARY_PATH"
    - export HDF5_MPI="ON"
    - export CC=mpicc
    - pip3 install --no-cache-dir --no-binary=h5py h5py
    - pip3 install git+https://github.com/FEniCS/fiat.git --upgrade
    - pip3 install git+https://github.com/FEniCS/ufl.git --upgrade
    - pip3 install git+https://github.com/FEniCS/ffcx.git --upgrade
    - rm -rf /usr/local/include/dolfin /usr/local/include/dolfin.h
    - git clone https://github.com/fenics/dolfinx.git
    - cd dolfinx
    - mkdir build
    - cd build
    - cmake -G Ninja ../cpp
    - ninja ${MAKEFLAGS} install
    - cd ../python
    - source /usr/local/share/dolfinx/dolfinx.conf
    - pip3 install .
    - cd ../../
    - mkdir -p build
    - cd build
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer ../cpp/
    - ninja -j3 install
    - cd ../python
    - pip3 install -e . --upgrade

  script:
    - cd tests
    - python3 -m pytest .
    - mpirun -n 2 python3 -m pytest .
    - mpirun -n 3 python3 -m pytest .
    - mpirun -n 4 python3 -m pytest .
    - cd ../benchmarks
    - mkdir results
    - mpirun -n 4 python3 bench_periodic.py --nref=2 --tet --boomeramg --timings
    - mpirun -n 4 python3 bench_elasticity_edge.py --nref=2 --gamg --timings
    - cd ../demos
    - mkdir meshes
    - mkdir results
    - python3 demo_elasticity.py
    - mpirun -n 4 python3 demo_elasticity.py
    - python3 demo_periodic.py
    - mpirun -n 4 python3 demo_periodic.py
    - python3 demo_stokes.py
    - mpirun -n 4 python3 demo_stokes.py
    - python3 demo_periodic3d.py
    - mpirun -n 4 python3 demo_periodic3d.py
    - python3 demo_contact_2D.py --timing
    - mpirun -n 4 python3 demo_contact_2D.py --timing
    - python3 demo_contact_3D.py --timing
    - mpirun -n 4 python3 demo_contact_3D.py --timing
