_petsc_cffi_None.*
*.xdmf
*.h5
*.so
**/build**/**
__pycache__
dolfinx_mpc.egg-info
*.pvd
*.vtu
.vscode
debug
*.png
*results*
*.msh
CMakeFiles
*.hdf5
*.o
.mypy_cache
*.bp

**/html/**
**/_build/**
.coverage
.coverage.*

python/dist
