name: Github Pages

on:
  push:
    branches:
      - main

env:
  DOLFINX_IMAGE: "v0.6.0"


jobs:
  deploy:
    runs-on: ubuntu-22.04
    container: dolfinx/dolfinx:${{ env.DOLFINX_IMAGE }}
    env:
      # Directory that will be published on github pages
      PUBLISH_DIR: ./docs/_build/html

    steps:
      - uses: actions/checkout@v3

      - name: Install DOLFINx-MPC (C++)
        run: |
          cmake -G Ninja -B build-dir -DCMAKE_BUILD_TYPE=Release -S cpp/
          cmake --build build-dir --parallel 3
          cmake --install build-dir

      - name: Install DOLFINx-MPC (Python)
        run: python3 -m pip -v install python/[docs]
                
      - name: Build docs
        run: jupyter book build -W docs
      - name: Copy Dockerfile into gh-pages
        run: cp Dockerfile ${PUBLISH_DIR}/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.PUBLISH_DIR }}
