name: Build docs

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-24.04
    container: ghcr.io/fenics/dolfinx/dev-env:current-mpich
    env:
      # Directory that will be published on github pages
      PUBLISH_DIR: ./_build/html
      PETSC_ARCH: "linux-gnu-real64-32"
      PYVISTA_OFF_SCREEN: false
      PYVISTA_JUPYTER_BACKEND: "html"
  
    steps:
      - uses: actions/checkout@v6
        with:
          ref: release

      - name: Install libbost for backwards compatibility
        run: |
          apt-get update
          apt-get install -y libboost-dev libboost-timer-dev libgl1-mesa-dev mesa-utils curl

      - name: Install DOLFINx
        uses: jorgensd/actions/install-dolfinx@v0.4
        with:
          dolfinx: v0.10.0
          ufl: 2025.2.0
          ffcx: v0.10.0
          basix: v0.10.0
          petsc_arch: ${PETSC_ARCH}

      - name: Install DOLFINx-MPC (C++)
        run: |
          cmake -G Ninja -B build-dir -DCMAKE_BUILD_TYPE=Release -S cpp/
          cmake --build build-dir --parallel 3
          cmake --install build-dir

      - name: Install DOLFINx-MPC (Python)
        run: python3 -m pip -v install --config-settings=cmake.build-type="Release" --no-build-isolation  ./python/[docs,test,optional]

      - name: Build docs
        run: jupyter book build .

      - name: Upload documentation as artifact
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: ${{ env.PUBLISH_DIR }}
          if-no-files-found: error
