name: Build docs

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    container: ghcr.io/fenics/dev-env:v0.7.0-mpich
    env:
      # Directory that will be published on github pages
      PUBLISH_DIR: ./docs/_build/html
      PETSC_ARCH: "linux-gnu-real64-32"

    steps:
    - uses: actions/checkout@v4

    - name: Install DOLFINx
      uses: ./.github/actions/install-dolfinx

    - name: Install DOLFINx-MPC (C++)
      run: |
        cmake -G Ninja -B build-dir -DCMAKE_BUILD_TYPE=Release -S cpp/
        cmake --build build-dir --parallel 3
        cmake --install build-dir

    - name: Install DOLFINx-MPC (Python)
      run: python3 -m pip -v install python/[docs]

    - name: Build docs
      run: jupyter book build docs

    - name: Upload documentation as artifact
      uses: actions/upload-artifact@v3
      with:
        name: documentation
        path: ${{ env.PUBLISH_DIR }}
        if-no-files-found: error
