name: Test Python assemblers

on:
  # Trigger tests on push
  push:
    branches:
      - "**"
  schedule:
    # '*' is a special character in YAML, so string must be quoted
    - cron: "0 1 * * *"
jobs:
  build:
    if: "!(contains(github.event.head_commit.message, '[ci skip]') || contains(github.event.head_commit.message, '[skip ci]'))"
    runs-on: ubuntu-20.04
    # container: dolfinx/dolfinx
    # steps:
    #   - uses: actions/checkout@v2
    container: dolfinx/dev-env
    env:
      CC: mpicc
      PETSC_ARCH: linux-gnu-real-32
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_rmaps_base_oversubscribe: 1
      OMPI_MCA_plm: isolated
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      OMPI_MCA_mpi_yield_when_idle: 1
      OMPI_MCA_hwloc_base_binding_policy: none
      HDF5_MPI: "ON"
      HDF5_DIR: "/usr/lib/x86_64-linux-gnu/hdf5/mpich/"
    steps:
      - uses: actions/checkout@v2

      - name: Get Basix and install
        uses: actions/checkout@v2
        with:
          path: ./basix
          repository: FEniCS/basix
          ref: main

      - name: Install h5py
        run: |
          export LD_LIBRARY_PATH="/usr/local/petsc/linux-gnu-real-32/lib/:/usr/lib/x86_64-linux-gnu/hdf5/mpich/:$LD_LIBRARY_PATH"
          pip3 install --no-cache-dir --no-binary=h5py h5py

      - name: Install FEniCS Python components (dolfinx)
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -B build-basix -S ./basix
          cmake --build build-basix
          cmake --install build-basix
          python3 -m pip install ./basix/python
          python3 -m pip install git+https://github.com/FEniCS/ufl.git
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git
      - name: Install dolfinx
        uses: actions/checkout@v2
        with:
          path: ./dolfinx
          repository: FEniCS/dolfinx
          ref: main

      - name: Configure C++ (dolfinx)
        run: cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build-dolfinx -S ./dolfinx/cpp/

      - name: Build and install C++ library (dolfinx)
        run: |
          cmake --build build-dolfinx
          cmake --install build-dolfinx
      - name: Build Python interface (dolfinx)
        run: python3 -m pip -v install ./dolfinx/python/

      - name: Install custom assemblers (C++)
        run: |
          cmake -G Ninja -B build-dir -DCMAKE_BUILD_TYPE=Developer cpp/
          ninja -C build-dir install
      - name: Install custom assemblers
        run: python3 -m pip -v install python/

      - name: Flake8 code
        run: flake8 python/

      - name: Run tests and demos
        run: |
          cd python/tests
          python3 -m pytest . -vs
          mpirun -n 2 python3 -m pytest .
          mpirun -n 3 python3 -m pytest .
          mpirun -n 4 python3 -m pytest .
          cd ../benchmarks
          mkdir results
          mkdir meshes
          mpirun -n 4 python3 bench_periodic.py --nref=2 --tet --gamg --timings
          mpirun -n 4 python3 bench_elasticity_edge.py --nref=2 --gamg --timings
          mpirun -n 4 python3 bench_contact_3D.py
          cd ../demos
          mkdir meshes
          mkdir results
          python3 demo_elasticity.py
          mpirun -n 4 python3 demo_elasticity.py
          python3 demo_periodic_geometrical.py
          mpirun -n 4 python3 demo_periodic_geometrical.py
          python3 demo_stokes.py
          mpirun -n 4 python3 demo_stokes.py
          python3 demo_periodic3d_topological.py
          mpirun -n 4 python3 demo_periodic3d_topological.py
          python3 demo_elasticity_disconnect_2D.py
          mpirun -n 4 python3 demo_elasticity_disconnect_2D.py
          python3 demo_elasticity_disconnect.py
          mpirun -n 4 python3 demo_elasticity_disconnect.py
          make contact2D-serial
          make contact2D-parallel
          make contact3D-serial
          make contact3D-parallel
